@import "./variables";

.education-experience {
    padding-top: 1.4375rem;
    h3 {
        font-size: 1.625rem;
        font-weight: 500;
        margin-bottom: 1rem;
        margin-left: 2.8125rem;
        text-decoration: underline;
        cursor: pointer;
        @include text-hover;
    }

    .education-details {
        line-height: 1.5;
        margin-bottom: 1.3125rem;
        margin-left: 3rem;
    }
    span {
        margin-left: 2.8125rem;
    }
}

@media only screen and (max-width: 768px) {
    .education-experience {
        padding: 40px;
        .education-details, span {
            margin-left: 0;
        }
        h3 {
            margin: 20px auto;
        }
    }
}